.notFound{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    text-align: center;
    padding: 215px 0px;
}
.notFound h1{
    font-size: 200px;
    font-weight: 900;
    color: red;
}
.notFound h2{
    font-weight: 800;
}
.notFound{
    font-weight: 700;
}