.doctorNav{
    padding-top: 80px;
    margin-right: 80px;
    font-weight: 700;
}
.navLink{
    padding: 0px 30px;
    text-decoration: none;
    color: gray;
}
.doctorText{
    margin-top: 80px;
    margin-left: 100px;
    font-weight: 700;
}
.doctorText p{
    color: gray;
}
.doctorHeading{
    background: gray 40%;
    background-image: linear-gradient(to left,  #1b1b1b 33%, #ffffffd5 33%), url(../../images/Mask\ Group\ 1.png);
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
}
.doctorImg img{
    width: 80%;
    height: 60%;
    padding-top: 80px;
    padding-left: 100px;
}
.doctorText .button,
.doctorPortal .dentalCare .button,
.doctorPortal .makeAppointment .button{
    padding: 10px 20px;
    border: none;
    outline: none;
    background-image: linear-gradient(to right, #19D3AE, #0FCFEC);
    color: white;
    font-weight: 700;
    border-radius: 2px;
}
.doctorPortal .publicServices{
    display: flex;
    justify-content: center;
    margin-top: -80px;
}
.doctorPortal .publicServices > *{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #414141;
    border-radius: 5px;
    color: white;
    margin: 0px 10px;
    width: 400px;
    height: 150px;
}
.doctorPortal .publicServices > *:nth-child(2n-1){
    background-color: #1caa8e;
}
.doctorPortal .publicServices > * .icon{
    font-size: 100px;
    margin-right: 30px;
}
.doctorPortal .publicServices > * p{
    font-weight: 700;
}
.doctorPortal .ourServices{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 60px;
    width: 100%;
}
.doctorPortal .ourServices > div > p{
    font-size: 20px;
    font-weight: 900;
    background: linear-gradient(#19D3AE, #0FCFEC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.doctorPortal .ourServices > div > h2{
    font-weight: 700;
}
.doctorPortal .servicesDetails{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.doctorPortal .servicesDetails > *{
    width: 400px;
    padding: 0px 20px;
    padding-top: 100px;
}
.doctorPortal .servicesDetails > * > p:nth-child(2){
    padding: 20px;
    font-size: 18px;
    font-weight: 700;
}
.doctorPortal .servicesDetails > * > p:nth-child(3){
    color: gray;
}
.doctorPortal .dentalCare > div{
    display: flex;
    justify-content: center;
    padding-right: 40px;
}
.doctorPortal .dentalCare img{
    height: 500px;
    margin-left: 100px;
    margin-top: 60px;
    margin-right: 40px;
}
.doctorPortal .dentalCare h1{
    margin-top: 50px;
}
.doctorPortal .dentalCare p{
    font-size: 20px;
    margin-top: 20px;
    color: gray;
}
.doctorPortal .makeAppointment{
    display: flex;
    background-image: url(../../images/Mask\ Group\ 4.jpg);
    background-size: 100% 75%, cover;
    height: 600px;
    color: white;
    background-position: bottom;
    background-repeat: no-repeat;
    justify-content: center;
    padding-right: 10%;
}
.doctorPortal .makeAppointment > div{
    width: 100%;
}
.doctorPortal .makeAppointment img{
    height: 600px;
    display: flex;
    justify-content: flex-end;
}
.doctorPortal .makeAppointment h4{
    margin-top: 220px;
    margin-bottom: 30px;
    background: linear-gradient(#19D3AE, #0FCFEC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.doctorPortal .makeAppointment h1{
    margin-bottom: 30px;
}
.doctorPortal .makeAppointment p{
    margin-bottom: 30px;
}
.testimonial{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.testimonial .testimonialDetails{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.testimonial .testimonialDetails > *{
    margin: 30px;
}
.testimonial h4,
.ourBlog h4,
.ourDoctors h4,
.contactUs h4{
    margin-bottom: 30px;
    background: linear-gradient(#19D3AE, #0FCFEC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}
.testimonial .testimonialDetails img,
.ourBlog .ourBlogDetails img{
    height: 50px;
    margin-right: 20px;
    margin-left: 10px;
}
.testimonial .patientinfo > p:first-child,
.ourBlog .doctorinfo > p:first-child,
.ourDoctors .doctorsInfo > p:first-child{
    background: linear-gradient(#19D3AE, #0FCFEC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    margin-bottom: -5px;
}
.ourBlog,
.ourDoctors{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.ourBlog .ourBlogDetails,
.ourDoctors .ourDoctorsDetails{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ourBlog .ourBlogDetails > *,
.ourDoctors .ourDoctorsDetails > *{
    margin: 30px;
}
.ourBlog h4,
.ourBlog h1,
.ourDoctors h4,
.contactUs h1,
.contactUs h4{
    text-align: center;
}
.ourBlog .ourBlogDetails > *:first-child{
    background: linear-gradient(to right, #19D3AE, #0FCFEC);
    color: white;
}
.ourDoctors .doctorsInfo{
    text-align: center;
    margin-top: 5px;
}
.contactUs{
    background-image: url(../../images/Mask\ Group\ 4.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    padding: 60px 0;
    background-size: 100% 100%;
}
.contactUs .contactUsDetails{
    display: flex;
    justify-content: center;
    text-align: center;
}
.contactUs .contactUsDetails input{
    width: 800px;
}
.contactUs .contactUsDetails input:first-child,
.contactUs .contactUsDetails input:nth-child(3){
    padding: 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    margin-top: 10px;
}
.contactUs .contactUsDetails input:nth-child(5){
    padding: 20px;
    padding-bottom: 150px;
    border-radius: 4px;
    outline: none;
    border: none;
    margin-top: 10px;
}
.contactUs .contactUsDetails .submitBtn{
    background: linear-gradient(to right, #19D3AE, #0FCFEC);
    margin-top: 10px;
    font-weight: 700;
    color: white;
    padding: 10px 50px;
    border-radius: 4px;
    outline: none;
}

@media only screen and (max-width: 1200px) {
    .doctorPortal .ourServices > div{
        width: 100%;
    }
    .doctorPortal .dentalCare h1{
        font-size: 30px;
        font-weight: 700;
    }
    .doctorPortal .dentalCare p{
        font-size: 16px;
    }
    .doctorPortal .makeAppointment h1{
        font-size: 30px;
        font-weight: 700;
        line-height: 1;
    }
    .doctorPortal .testimonial h4,
    .doctorPortal .testimonial h1{
        text-align: center;
    }
}

@media only screen and (max-width: 991px) {
    .navLink{
        padding: 0 15px;
    }
    .doctorText h1{
        font-size: 30px;
        font-weight: 700;
    }
    .doctorText p{
        font-size: 14px;
    }
    .doctorText .button,
    .doctorPortal .dentalCare .button,
    .doctorPortal .makeAppointment .button{
        padding: 10px;
        font-size: 12px;
        font-weight: 800;
    }
    .doctorImg img{
        width: 90%;
        height: 80%;
    }
    .doctorPortal .makeAppointment img{
        margin-left: -80px;
    }
    .doctorPortal .makeAppointment h1{
        margin-bottom: 10px;
    }
    .doctorPortal .makeAppointment h4{
        margin-top: 160px;
        margin-bottom: 10px;
    }
    .doctorPortal .publicServices > *{
        margin-top: 20px;
        width: 250px;
        height: 120px;
        line-height: .8;
    }
    .doctorPortal .publicServices > * .icon{
        font-size: 60px;
        margin-right: 10px;
    }
    .doctorPortal .dentalCare img{
        height: 400px;
    }
    .doctorPortal .dentalCare p{
        font-size: 14px;
    }
    .contactUs .contactUsDetails input{
        width: 600px;
    }
}

@media only screen and (max-width: 850px) {
    .doctorText h1{
        font-size: 25px;
    }
    .doctorText p{
        font-size: 14px;
    }
    .doctorImg img{
        height: 310px;
    }
    .doctorPortal .dentalCare > div{
        flex-wrap: wrap-reverse;
        padding: 0 40px;
    }
    .doctorPortal .dentalCare img{
        margin-left: 0;
    }
}

@media only screen and (max-width: 771px) {
    .doctorNav{
        margin-right: 5px;
        padding-top: 40px;
    }
    .navLink{
        padding: 0 5px;
        font-size: 12px;
    }
    .doctorText{
        margin: 0 20px;
    }
    .doctorImg img{
        padding-top: 10px;
        padding-left: 40px;
        height: 250px;
        width: 400px;
    }
    .doctorPortal .publicServices > *{
        margin-top: 50px;
        width: 150px;
        height: 50px;
        line-height: .6;
    }
    .doctorPortal .publicServices > * .icon{
        font-size: 20px;
        margin-right: 5px;
    }
    .doctorPortal .publicServices > * p{
        margin-bottom: 0px;
        font-size: 10px;
    }
    .doctorPortal .publicServices > * small{
        font-size: 8px;
    }
    .doctorPortal .dentalCare img{
        height: 300px;
    }
    .doctorPortal .makeAppointment{
        height: 350px;
    }
    .doctorPortal .makeAppointment img{
        height: 350px;
    }
    .doctorPortal .makeAppointment h1{
        margin-bottom: 0;
    }
    .doctorPortal .makeAppointment h4{
        margin-top: 140px;
        margin-bottom: 0;
    }
    .doctorPortal .makeAppointment p{
        line-height: .8;
        margin-bottom: 0;
    }
    .doctorPortal .makeAppointment > div:first-child{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-left: 10px;
    }
    .doctorPortal .makeAppointment > div:last-child{
        margin-top: -45px;
        margin-left: -60px;
    }
    .contactUs h1{
        font-size: 30px;
    }
    .contactUs .contactUsDetails input{
        width: 300px;
    }
    .contactUs .contactUsDetails input:first-child,
    .contactUs .contactUsDetails input:nth-child(3){
    padding: 10px;
    }
    .contactUs .contactUsDetails input:nth-child(5){
    padding: 10px;
    padding-bottom: 150px;
    }
    .doctorPortal .makeAppointment .button{
        padding: 5px 10px;
        margin-top: 4px;
        font-size: 10px;
    }
}

@media only screen and (max-width: 411px) {
    .navLink{
        padding: 0 5px;
        font-size: 10px;
    }
    .doctorImg img{
        padding-left: 20px;
        height: 150px;
        width: 250px;
        margin-top: 40px;
    }
}