.doctorNav{
    padding-top: 80px;
    margin-right: 80px;
    font-weight: 700;
}
.navLink{
    padding: 0px 40px;
    text-decoration: none;
    color: gray;
}
.doctorText{
    margin-top: 80px;
    margin-left: 100px;
    font-weight: 700;
}
.doctorPortal{
    background-image: url(../../images/header.png);
    width: 100%;
    height: 750px;
    background-repeat: no-repeat;
}
.doctorImg img{
    width: 80%;
    height: 60%;
    padding-top: 80px;
    padding-left: 100px;
}
.doctorText button{
    padding: 10px 20px;
    border: none;
    outline: none;
    background-image: linear-gradient(to right, #19D3AE, #0FCFEC);
    color: white;
    font-weight: 700;
    border-radius: 2px;
}