.sidebar{
    padding-top: 60px;
    background-image: linear-gradient(#19D3AE, #0FCFEC);
    width: 250px;
    position: fixed;
}
.sidebar > .sideBarLink{
    display: flex;
    color: white;
    font-weight: 700;
    padding: 5px 0px;
    align-items: center;
}
.sidebar > .sideBarLink:last-child{
    margin-top: 250px;
}
.sidebar > .sideBarLink > *:first-child{
    margin-left: 60px;
}
.sidebar > .sideBarLink > *:last-child{
    padding-top: 20px;
}
.sidebar > .sideBarLink:hover{
    box-shadow: 5px 5px 10px lightseagreen;
}
.sidebar .icon{
    margin-top: 5px;
    margin-right: 10px;
}