.dashboard{
    background-color: #e1f1f3;
    display: flex;

}
.dashboardTable{
    margin-left: 240px;
}
.dashboardTable h4{
    margin-top: 20px;
    margin-left: 40px;
    width: 1300px;
}
.dashboardHeading{
    display: flex;
    margin-left: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.dashboardHeading > div{
    color: white;
    display: flex;
    padding: 20px;
    margin: 20px 30px;
    height: 100px;
    width: 220px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.dashboardHeading > div > h1{
    font-size: 50px;
}
.dashboardHeading > div > p{
    padding-top: 10px;
    padding-left: 20px;
}
.dashboardTableDetails{
    background-color: white;
    margin-left: 40px;
    border-radius: 5px;
    margin-right: 40px;
}
.dashboardTableDetails p{
    padding: 20px;
    font-weight: 900;
    background: linear-gradient(#19D3AE, #0FCFEC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.dashboardTableDetails .actionSelect{
    background-image: linear-gradient(#19D3AE, #0FCFEC);
    padding: 0px 5px;
    border-radius: 4px;
}

@media only screen and (max-width: 1200px) {
    .dashboardHeading{
        margin-right: 0px;
    }
    .dashboardTableDetails{
        margin-right: 10px;
    }
}