.footer{
    padding-left: 80px;
    padding-top: 40px;
}
.footer > div:first-child{
    display: flex;
}
.footer > div > *{
    width: 33.33%;
}
.footer > div > div > div:first-child > p{
    background: linear-gradient(to right, #19D3AE, #0FCFEC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}
.footer .brandIcon > *{
    border: 1px solid #19D3AE;
    border-radius: 15px;
    padding: 5px;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    color: #19D3AE;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: .5s;
}
.footer .brandIcon > *:hover{
    background-color: #19D3AE;
    color: white;
}
.footer .callNow{
    background-image: linear-gradient(to right, #19D3AE, #0FCFEC);
    width: 150px;
    padding: 10px 10px;
    color: white;
    border-radius: 5px;
}
.footer small{
    color: gray;
    font-weight: 600;
}

@media only screen and (max-width: 771px) {
    .footer{
        padding-left: 20px;
    }
    .footer .brandIcon > *{
        margin-right: 5px;
        height: 20px;
        width: 20px;
    }
    .footer .callNow{
        width: 100px;
        padding: 5px 5px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 441px) {
    .footer small{
        font-size: 10px;
    }
}